:root{
    --bgColor:#f2ede1;
    --headerBg:#e3d3c4;
    --fontCurrentBgColor:#432c1d;
    --fontColor:#f2ede1;
}

:root[data-theme="dark"]{
    --bgColor:#432c1d;
    --headerBg:#d2ab8f;
    --fontCurrentBgColor:#f2ede1;
    --fontColor:#432c1d;
}

body{
    background-color: var(--bgColor)!important;
    transition: all 1s;
}

.header{
    background-color: var(--headerBg);
    min-height: 100px;
    align-items: center;
    padding: 5px;
}
.header > select{
    min-height: 50px;
}
.header > button{
    max-height: 50px;
}

.form-select{
    width: 25%!important;
}

.btn{
    background-color: transparent;
}

.word{
    background-color: var(--headerBg);
}

.currentWord{
    background-color: var(--fontCurrentBgColor);
    color: var(--fontColor);
}

.correctWord{
    color:green;
}

.wrongWord{
    color:red
}

.input{
    background-color: var(--headerBg);
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.input > input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--fontCurrentBgColor);
    max-height: 75px;
    min-width: 300px;
    margin-left: 50px;
}

.input > input:focus{
    outline: none;
    
}