:root{
    --bgColor:#f2ede1;
    --headerBg:#e3d3c4;
    --fontCurrentBgColor:#432c1d;
    --fontColor:#f2ede1;
}

:root[data-theme="dark"]{
    --bgColor:#432c1d;
    --headerBg:#d2ab8f;
    --fontCurrentBgColor:#f2ede1;
    --fontColor:#432c1d;
}

body{
    background-color: var(--bgColor)!important;
    transition: all 1s;
}

.header{
    background-color: var(--headerBg);
}

.form-select{
    width: 25%!important;
}

.btn{
    background-color: transparent;
}

.word{
    background-color: var(--headerBg);
}

.currentWord{
    background-color: var(--fontCurrentBgColor);
    color: var(--fontColor);
}

.true{
    background-color: transparent;
    color: green;
}

.false{
    background-color: transparent;
    color: red;
}